*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

.hamburguer3{
	position: fixed;
    top: 10px;
    right: 10px;
    background: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

body{
    font-family: 'Open Sans', sans-serif;
}
.info{
    width: 90%;
    max-width: 900;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.item{
    background-color: rgb(233, 231, 240, 0.342);
    border-radius: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
    transition: all 300ms;
}

.item:hover{
  transform: scale(1.05);
}
.items-text{
    padding: 1em;
}
.items-img{
    max-width: 100%;
    display: block;
    border-radius: 20px;
}
.imagen{
    
    margin-left: 40%;
   border-radius: 100px;
    width: 60px;
    height: 60px;
   
}
.imagen:hover{
    transform: scale(1.05);  
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(241, 213, 233, 0) 0%, rgba(119, 142, 182, 0) 100%), url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}


.hamburguer{
    position: fixed;
    top: 10px;
    left: 10px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.hamburguer2{
    position: fixed;
    top: 10px;
    right: 10px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    width: 20vw;
    height: 100%;
    background-image: linear-gradient(to top, #8cb2d1 0%, #fbc2eb 100%);
    background-image: linear-gradient(135deg, #667eea 0%, #4b95a2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    transform: translateX(-110%);
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.hed{
   cursor: pointer;
   width: 100%;
   height: 120px;
  border-radius: 20px;
}
.hed:hover{
   background: rgb(255, 255, 255, .1);
   
}

.texto{
  margin-left: 30%;
  
}

.spread{
    transform: translateX(0);
}

.menu-navegacion a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
   
}



.titulo{
    font-size: 70px;
    margin-bottom: 20px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

footer{
    background: #000000f6;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.brand{
    font-weight: 500;
    font-size: 40px;
    color:#fff;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color:#764ba2;
}

@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 20vw;
    }

    .titulo{
        font-size: 40px;
    }
    
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    
}


@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 20vw;
    }

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }
    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 95%;
        margin-bottom: 40px;
    }
    
}

@media screen and (max-width: 500px){

    .info{
        grid-template-columns: repeat(3,ifr);
    }
  }
  
  @media screen and (max-width: 800px){
  
      .info{
          grid-template-columns: repeat(3,ifr);
      }
    }